body {
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;

}

.navbar {

    background-color: rgb(77, 53, 53);
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5px 20px;
    
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    width: 100%;
    list-style: none;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}